.imagen{
    float: right;
    width: 15%;
    padding-right: 250px;
  }
  
   
    li{
      font-size: 18px;
    }
  
  b{
    font-size: 20px;
    color:rgb(12, 36, 197);
    
  }
  
  .INFORMACION ul li{
    padding-left: 20%;
    margin: 5px;
  }
  
  h1{
    font-size: 40px;
    color: rgb(6, 6, 115);
    text-align: center;

  }
  
  h2{
    font-size: 30px;
    color: rgb(6, 6, 115);
    padding-left: 80px;

  }
  
  .OBJETIVOS{
    font-size: 18px;
    padding-left: 20%;
    padding-left: 80px;

  }
  
  .EXPERIENCIAS{
    color: rgb(6, 6, 115);
    font-size: 19px;
    padding-left: 80px;

  }
  
  .experiencia{
    padding-left: 20%;
  

  }
  
  .caja{
    padding-left: 20%;
    
  }

  .footer1{
    padding-right: 100px;
    float: right;
    font-size: 20px;
}

.iconos1{
    float: left;
    width: 30%;
    padding-left: 80px;
    font-size: 20px;
}
.texto22{
    padding-top: 20px;
}

.footer{
    display: block;
    position: fixed;
    background-color: black;
}

.imagen1{
    width: 50px;
    padding-top: 50px;
}