<h1>Curriculum Vitae</h1>
<img src="assets/CX.jpg" alt="PERFIL" class="imagen">
<br>
<br>
<h2>Informaci&oacute;n de contacto</h2>
<div class="INFORMACION">
    <ul class="informacion1">
        <li><b>Nombre y Apellido:</b> Royer Andres</li>
        <li><b>Apellidos:</b> Tucumani Pelaez</li>
        <li><b>Email:</b></li>
        <li><b>Direcci&oacute;n:</b> Campo ferial AV.Huanchaca Calle.Guapomos</li>
        <li><b>Tel&eacute;fono:</b> 76493567</li>
        <li><b>Fecha de nacimiento:</b> 22/01/2002</li>
        <li><b>Nacionalidad:</b> Boliviana</li>
    </ul>
</div>
<h2>Objetivo Profesional</h2>
<div class="OBJETIVOS">
    <p class="objet">
        Completar mis estudios de ingeniero en sistemas, poder conseguir el cargo de senior en alguna empresa.
    </p>
</div>
<div>
    <div class="footer1">
        <h2>Informacion de contacto</h2>
        <label for="Nombre">Nombre</label>
        <input type="text">
        <hr>
        <br>
        <label for="Apellidos">Apellidos</label>
        <input type="text">
        <hr>
        <br>
        <label for="Correo">Correo</label>
        <input type="text">
        <hr>
        <br>
    </div>
</div>
<h2>Experiencia</h2>

<P class="EXPERIENCIAS">Cochabamba</P>
<p class="EXPERIENCIAS">2015-2022</p>
<div class="experiencia">
    <ul>
        <li><b>Armado de computadoras:</b>2años de experiencia</li>
        <li><b>Servicio tecnico de computadoras:</b>2años de experiencia</li>
    </ul>
</div>
<h2>Educaci&oacute;n</h2>
<div class="caja">
    <ul class="EDUCACION">
        <li><b>Colegio venjanmin:</b> AV. Guayacan Zona Sud</li>
        <li><b>Instituto Solaning:</b> En Proceso AV. Heroinas Calle Antezana y Venezuela</li>
    </ul>
</div>

<h2>Idiomas</h2>
<div class="caja">
    <ul class="IDIOMAS">
        <li>Español latino</li>
        <li><b>Ingles:</b> Nivel B&aacute;sico</li>
    </ul>
</div>

<h2>Habilidades</h2>
<div class="caja">
    <ul class="HABILIDADES">
        <li>Ensamblado de computadoras</li>
        <li>Servicio tecnico de computadoras</li>
    </ul>
</div>
